@import 'tailwindcss';

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #faf4ec;
  font-family: 'JetBrains Mono', monospace;
  cursor:
    url('./assets/arrowhead-rounded-outline.svg') 0 0,
    auto;
}

a,
button,
[role='button'],
.cursor-pointer {
  cursor:
    url('./assets/hand-pointer.svg') 0 0,
    pointer;
}

@theme {
  --animate-spin-slow: spin-slow 20s linear infinite;

  --color-navy: #1a3263;
  --color-navy-light: #547792;
  --color-yellow: #fab95b;
  --color-yellow-light: #e8e2db;
  --color-yellow-neon: #cfff04;
  --color-yellow-bright: #ffff00;

  --color-coral: #eb6843;
  --color-blue: #0d8dff;
  --color-green: #47be96;
  --color-purple: #7c3aed;

  --font-display: 'Google Sans', sans-serif;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
